  body {
    box-sizing: border-box;
    font-family: "Roboto-Regular", sans-serif;
    margin:0;
    padding:0;
  }
  a {
    text-decoration: none;
  }
  .container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
  }
  
  .header {
    padding: 11px 0;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    z-index: 2;
    position: fixed;
  }
  .header_menu {
    display: flex;
    justify-content: space-between;
  }
  .header_left {
    padding: 15px 27px 18px;
  }
  .header_right {
    padding: 12px 27px 18px;
    position: absolute;
    right: 14%;
    top: 14px;
  }
  .header_logo {
    position: absolute;
    left: 35%;
  }
  .header_item {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    color: #212A2F;
    line-height: 21px;
    letter-spacing: 1.7px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 36px;
    text-align: center;
  }
  .header_item:hover {
    color: #555;
    border-bottom: 1px solid #212A2F;
  }
  .header_icons {
    margin-right: 17px;
  }
  .home {
    background-image: url(../images/3d8ede17965de6e3a4c8a3f133f21dba.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 321px 0 66px;
  }
  .home_title {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 63px;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 11px;
  }
  .home_subtitle {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 205px;
    position: relative;
  }
  .home_buttons {
    text-align: center;
    margin-left: 20px;
  }
  .home_btn {
    width: 180px;
    height: 48px;
    background-color: #FFFFFF;
    color: #212A2F;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    text-align: center;
    margin-right: 20px;
    transition: 0.5s;
  }
  .home_btn:hover {
    background: #212A2F;
    color: #FFFFFF;
  }
  .favorites {
    padding: 119px 0 142px;
  }
  .favorites_tabs_content {
    display: none;
    display: block;
  }
  .favorites_title {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 32px;
    color: #212A2F;
    line-height: 42px;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 32px;
  }
  .favorites_tabs_caption {
    text-align: center;
    border-bottom: 2px solid #d3d4d5;
  }
  .favorites_tabs_tab {
    width: 125px;
    height: 48px;
    background-color: #FFFFFF;
    color: #212a2f;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    text-align: center;
    transition: 0.5s;

    border-bottom: 2px solid #212a2f;
  }
  .favorites_tabs_tab:hover {
    background: #212a2f;
    color: #FFFFFF;
  }
  .favorites .row {
    margin-top: 34px;
  }
  .favorites_col {
    position: relative;
    margin-bottom: 17px;
  }
  .favorites_col_img {
    height: 396px;
    width: 396px;
  }
  .favorites_col_buttons {
    width: 276px;
    height: 48px;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .favorites_col_buttons:hover {
    opacity: 1;
    color: #F5F5F5;
  }
  .favorites_col_btn {
    width: 276px;
    height: 48px;
    background-color: #FFFFFF;
    color: #212A2F;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    text-align: center;
    margin-bottom: 12px;
    position: absolute;
    transform: translateX(42px);
    top: 144px;
    left: 38px;
  }
  .favorites_col_btn:hover {
    background-color: #212a2f;
    color: #FFFFFF;
  }
  .favorites_description {
    padding: 0 30px;
  }
  .favorites_description_title {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 22px;
    color: #212A2F;
    line-height: 29px;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d4d5;
  }
  .favorites_description_subtitle {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    color: #212A2F;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: normal;
  }
  .favorites_description_post {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-right: 10px;
  }
 