  body {
    box-sizing: border-box;
    font-family: "Roboto-Regular", sans-serif;
    margin:0;
    padding:0;
  }
  a {
    text-decoration: none;
  }
    .container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; 
  }
  
  .header { 
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    z-index: 2;
    position: fixed;
  }
.header_menu{
  display: flex;
  justify-content: space-between;
} 
.header_left {
    padding: 21px 27px 18px;
  }
.header_center{
  padding: 11px 0 10px;
}
.header_logo {
  position: absolute;
}
.header_right{
  display: flex;
}
.header_right_other{
  padding: 21px 27px 18px;
}
.header_item, .header_item_left, .header_item_right {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    color: #212A2F;
    line-height: 21px;
    letter-spacing: 1.7px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;

    text-align: center;
  }
.header_item_left{
      margin-right: 36px;
}
.header_item_right{
  margin-right: 30px;
}
.header_item:hover {
    color: #555;
    border-bottom: 1px solid #212A2F;
  }
.header_icon{
     padding: 19px 0 16px;
}
.header_icons {
    margin-right: 5px;
  }
  .home {
    background-image: url(../images/3d8ede17965de6e3a4c8a3f133f21dba.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 321px 0 66px;
  }
  .home_title {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 63px;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 11px;
  }
  .home_subtitle {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 205px;
    position: relative;
  }
  .home_buttons {
    text-align: center;
    margin-left: 20px;
  }
  .home_btn {
    width: 180px;
    height: 48px;
    background-color: #FFFFFF;
    color: #212A2F;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    text-align: center;
    margin-right: 20px;
    transition: 0.5s;
  }
  .home_btn:hover {
    background: #212A2F;
    color: #FFFFFF;
  }
  .container {
    max-width: 1380px;
    width: 100%;
  }
  .favorites {
    padding: 104px 102px 120px;
  }
  .favorites_tabs_content{
    display: block;
  }
  .favorites_tabs_content {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
  }
  .favorites_title {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 32px;
    color: #212A2F;
    line-height: 42px;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 32px;
  }
  .favorites_tabs_caption {
    text-align: center;
    border-bottom: 2px solid #d3d4d5;
  }
  .favorites_tabs_tab {
    width: 125px;
    height: 48px;
    background-color: #FFFFFF;
    color: #212a2f;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    text-align: center;
    transition: 0.5s;
  }
  .favorites_tabs_tab:hover{
    border-bottom: 2px solid #212a2f;
  }
  .favorites_tabs_tab:hover {
    background: #212a2f;
    color: #FFFFFF;
  }
  .favorites {
    margin-top: 34px;
  }
  .col {
    justify-content: space-between;
  }
  .favorites_col {
    position: relative;
    margin-bottom: 18px;
  }
  .favorites_col_img {
    height: 362px;
    width: 362px;
  }
  .favorites_col_buttons {
    width: 276px;
    height: 48px;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .favorites_col_buttons:hover {
    opacity: 1;
    color: #2e2d2d;
  }
  .favorites_col_btn {
    width: 276px;
    height: 48px;
    background-color: #FFFFFF;
    color: #212A2F;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    text-align: center;
    margin-bottom: 12px;
    position: relative;
    top: 144px;
    left: 38px;
  }
  .favorites_col_btn:hover {
    background-color: #212a2f;
    color: #FFFFFF;
  }
  .favorites_description {
    padding: 0 30px;
  }
  .favorites_description_title {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 22px;
    color: #212A2F;
    line-height: 29px;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d4d5;
  }
  .favorites_description_subtitle {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    color: #212A2F;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: normal;
  }
  .favorites_description_post {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-right: 10px;
  }
  .shoes {
    padding: 0 0 120px;
    text-align: center;
  }
  .shoes .container_shoes {
  display: initial;
  }
  .shoes_img {
    width: 100%;
    height: 542px;
    background: url(../images/shoesbg.png) no-repeat center/cover;
    margin-bottom: 47px;
  }
  .shoes_title {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 32px;
    color: #212A2F;
    line-height: 42px;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-bottom: 18px;
  }
  .shoes_subtitle {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    color: #212A2F;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .shoes_buttons {
    display: flex;
    justify-content: center;
  }
  .shoes_btn {
    width: 180px;
    height: 48px;
    background-color: #212A2F;
    color: #FFFFFF;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    text-align: center;
    margin-right: 24px;
    transition: 0.5s;
  }
  .shoes_btn:hover {
    background: #FFFFFF;
    color: #212A2F;
    border: 2px solid #212A2F;
  }
  .carousel {
    padding: 0 0 138px;
    position: relative;
  }
  .container {
    max-width: 1380px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .carousel {
    padding: 65px 90px 120px;
  }
  .carousel_title {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 32px;
    color: #212A2F;
    line-height: 42px;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-bottom: 24px;

  }
  .carousel .slider img {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 362px;
    height: 362px;
    margin-right: 24px;
    padding-right: -50px;
    margin-bottom: 17px;
  }
  .carousel .slider_item_subtitle {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 22px;
    color: #212A2F;
    line-height: 29px;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-decoration: none;
    padding-left: 18px;

    z-index: 2;
  }
  .carousel .slider_item_subtitle:hover {
    color: #555;
    transform: scale(0.8);
    -webkit-text-decoration: #555;
            text-decoration: #555;
  }
  .carousel_prev {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 50%;
  }
  .carousel_next {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 50%;
    right: 10px;
  }